## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config2 import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file.
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Busselton,AU,-33.6500,115.3333,74.43,61,13,6.82,few clouds
1,1,Umm Lajj,SA,25.0213,37.2685,75.27,45,0,1.66,clear sky
2,2,Grand Gaube,MU,-20.0064,57.6608,77.00,82,100,3.00,light rain
3,3,Meihekou,CN,42.5272,125.6753,55.49,15,1,14.50,clear sky
4,4,Jamestown,US,42.0970,-79.2353,45.00,70,90,9.22,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Umm Lajj,SA,25.0213,37.2685,75.27,45,0,1.66,clear sky
2,2,Grand Gaube,MU,-20.0064,57.6608,77.00,82,100,3.00,light rain
7,7,Tessalit,ML,20.1986,1.0114,78.33,13,12,6.44,few clouds
14,14,Sibolga,ID,1.7427,98.7792,84.63,66,100,2.39,overcast clouds
19,19,Harper,LR,4.3750,-7.7169,79.09,88,69,3.58,broken clouds
...,...,...,...,...,...,...,...,...,...,...
661,661,Lazaro Cardenas,MX,17.9583,-102.2000,76.66,78,4,4.25,clear sky
670,670,Biltine,TD,14.5333,20.9167,78.42,12,0,7.65,clear sky
674,674,Pathein,MM,16.7833,94.7333,80.46,65,30,10.87,scattered clouds
676,676,Kulhudhuffushi,MV,6.6221,73.0700,83.34,69,99,11.54,overcast clouds
690,690,Majene,ID,-3.5403,118.9707,88.23,57,92,6.04,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [6]:
# Double check
preferred_cities_df.notnull().sum()

City_ID                183
City                   183
Country                183
Lat                    183
Lng                    183
Max Temp               183
Humidity               183
Cloudiness             183
Wind Speed             183
Current Description    183
dtype: int64

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows (there is none but applying the code just in case)
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Umm Lajj,SA,25.0213,37.2685,75.27,45,0,1.66,clear sky
2,2,Grand Gaube,MU,-20.0064,57.6608,77.00,82,100,3.00,light rain
7,7,Tessalit,ML,20.1986,1.0114,78.33,13,12,6.44,few clouds
14,14,Sibolga,ID,1.7427,98.7792,84.63,66,100,2.39,overcast clouds
19,19,Harper,LR,4.3750,-7.7169,79.09,88,69,3.58,broken clouds
...,...,...,...,...,...,...,...,...,...,...
661,661,Lazaro Cardenas,MX,17.9583,-102.2000,76.66,78,4,4.25,clear sky
670,670,Biltine,TD,14.5333,20.9167,78.42,12,0,7.65,clear sky
674,674,Pathein,MM,16.7833,94.7333,80.46,65,30,10.87,scattered clouds
676,676,Kulhudhuffushi,MV,6.6221,73.0700,83.34,69,99,11.54,overcast clouds
690,690,Majene,ID,-3.5403,118.9707,88.23,57,92,6.04,overcast clouds

In [8]:
# Double check
clean_df.notnull().sum()

City_ID                183
City                   183
Country                183
Lat                    183
Lng                    183
Max Temp               183
Humidity               183
Cloudiness             183
Wind Speed             183
Current Description    183
dtype: int64

In [9]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Umm Lajj,SA,75.27,clear sky,25.0213,37.2685,
2,Grand Gaube,MU,77.00,light rain,-20.0064,57.6608,
7,Tessalit,ML,78.33,few clouds,20.1986,1.0114,
14,Sibolga,ID,84.63,overcast clouds,1.7427,98.7792,
19,Harper,LR,79.09,broken clouds,4.3750,-7.7169,
20,Garissa,KE,79.59,moderate rain,-0.4536,39.6401,
22,Avarua,CK,82.40,overcast clouds,-21.2078,-159.7750,
26,Jhargram,IN,88.93,clear sky,22.4500,86.9833,
31,Lethem,GY,76.50,moderate rain,3.3803,-59.7968,
37,Butaritari,KI,78.31,moderate rain,3.0707,172.7902,

In [10]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    # add location key to params dictionary
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Umm Lajj,SA,75.27,clear sky,25.0213,37.2685,Moon light Furnished Units
2,Grand Gaube,MU,77.00,light rain,-20.0064,57.6608,Veranda Paul et Virginie Hotel & Spa
7,Tessalit,ML,78.33,few clouds,20.1986,1.0114,
14,Sibolga,ID,84.63,overcast clouds,1.7427,98.7792,Hotel Syariah CN Darussalam
19,Harper,LR,79.09,broken clouds,4.3750,-7.7169,Screensaver
20,Garissa,KE,79.59,moderate rain,-0.4536,39.6401,Sharif Plaza Hotel
22,Avarua,CK,82.40,overcast clouds,-21.2078,-159.7750,Paradise Inn
26,Jhargram,IN,88.93,clear sky,22.4500,86.9833,Sarada Hotel
31,Lethem,GY,76.50,moderate rain,3.3803,-59.7968,Savannah Inn
37,Butaritari,KI,78.31,moderate rain,3.0707,172.7902,Isles Sunset Lodge

In [11]:
# Define rows with no Hotel Names as NaN
import numpy as np
nan_hotel_df = hotel_df.replace("", np.nan)
nan_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Umm Lajj,SA,75.27,clear sky,25.0213,37.2685,Moon light Furnished Units
2,Grand Gaube,MU,77.00,light rain,-20.0064,57.6608,Veranda Paul et Virginie Hotel & Spa
7,Tessalit,ML,78.33,few clouds,20.1986,1.0114,NaN
14,Sibolga,ID,84.63,overcast clouds,1.7427,98.7792,Hotel Syariah CN Darussalam
19,Harper,LR,79.09,broken clouds,4.3750,-7.7169,Screensaver
...,...,...,...,...,...,...,...
661,Lazaro Cardenas,MX,76.66,clear sky,17.9583,-102.2000,Hotel Quinta Antigua
670,Biltine,TD,78.42,clear sky,14.5333,20.9167,Hôtel Trois Étoiles de Biltine
674,Pathein,MM,80.46,scattered clouds,16.7833,94.7333,New Pammawaddy Hotel
676,Kulhudhuffushi,MV,83.34,overcast clouds,6.6221,73.0700,Haajy Guest House 1
690,Majene,ID,88.23,overcast clouds,-3.5403,118.9707,Kost Putri RABBANI

In [12]:
nan_hotel_df.isnull().sum()

City                    0
Country                 0
Max Temp                0
Current Description     0
Lat                     0
Lng                     0
Hotel Name             15
dtype: int64

In [13]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = nan_hotel_df.dropna(subset=["Hotel Name"])
clean_hotel_df.head(20)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Umm Lajj,SA,75.27,clear sky,25.0213,37.2685,Moon light Furnished Units
2,Grand Gaube,MU,77.00,light rain,-20.0064,57.6608,Veranda Paul et Virginie Hotel & Spa
14,Sibolga,ID,84.63,overcast clouds,1.7427,98.7792,Hotel Syariah CN Darussalam
19,Harper,LR,79.09,broken clouds,4.3750,-7.7169,Screensaver
20,Garissa,KE,79.59,moderate rain,-0.4536,39.6401,Sharif Plaza Hotel
22,Avarua,CK,82.40,overcast clouds,-21.2078,-159.7750,Paradise Inn
26,Jhargram,IN,88.93,clear sky,22.4500,86.9833,Sarada Hotel
31,Lethem,GY,76.50,moderate rain,3.3803,-59.7968,Savannah Inn
37,Butaritari,KI,78.31,moderate rain,3.0707,172.7902,Isles Sunset Lodge
40,Cayenne,GF,79.00,broken clouds,4.9333,-52.3333,Hôtel Le Dronmi
41,Mitsamiouli,KM,82.08,overcast clouds,-11.3847,43.2844,Foyer ADM
45,Mahebourg,MU,75.20,light rain,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
49,Atuona,PF,80.69,broken clouds,-9.8000,-139.0333,Villa Enata
52,Rikitea,PF,78.28,light rain,-23.1203,-134.9692,Pension Maro'i
55,Saint George,US,80.60,clear sky,37.1041,-113.5841,Best Western Plus Abbey Inn
62,Arraial Do Cabo,BR,75.33,broken clouds,-22.9661,-42.0278,Pousada Porto Praia
63,Vaini,TO,80.60,scattered clouds,-21.2000,-175.2000,Keleti Beach Resort
67,Souillac,MU,75.20,scattered clouds,-20.5167,57.5167,Shanti Maurice Resort & Spa
71,Bandarbeyla,SO,77.09,broken clouds,9.4942,50.8122,JABIR HOTEL
74,Kavieng,PG,84.13,broken clouds,-2.5744,150.7967,Nusa Island Retreat

In [14]:
clean_hotel_df.notnull().sum()

City                   168
Country                168
Max Temp               168
Current Description    168
Lat                    168
Lng                    168
Hotel Name             168
dtype: int64

In [15]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [16]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [18]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))